<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<script type="text/javascript" src="js/angular.min.js"></script>
		<title>Ebola Outbreak 2014 Numbers and Visuals</title>
	</head>
	<body>
		<div id='main-nav'>
			<ul>
   				<li><a href='#'><span>Home</span></a></li>
   			</ul>
   		</div>
		<div class="container main-container">
			<div id="main-title">
				<h1 id="main-head">
					Ebola Outbreak 2014 Cases Report
				</h1>
			</div>
			<div id="main-desc">
				This is a report on the number of cases and deaths reported during the 2014 Ebola Outbreak.
				Though there were rare cases reported other nations, most cases and deaths occurred in the West Africa region.
				The number table shows the raw amount of cases and deaths during the outbreak.
				The graphs give meaning to the numbers and allow you to see trends.
			</div>
			<div class="link-container">
				<div class="numbers-container">
					<div class="col-sm-6">
						<a class="home-links icon" href="numbers"><span>See the numbers</span></a>
					</div>
				</div>
				<div class="vis-container">
					<div class="col-sm-6">
						<a class="home-links" href="visuals">Visualize the data</a>
					</div>
				</div>
			</div>
			

			<div class="map-container">
				<img src="http://www.cdc.gov/vhf/ebola/images/west-africa-distribution-map.jpg" alt="">
			</div>
		</div>
		
		<footer>Data from <a href="http://www.cdc.gov/vhf/ebola/outbreaks/2014-west-africa/cumulative-cases-graphs.html">http://www.cdc.gov/vhf/ebola/outbreaks/2014-west-africa/cumulative-cases-graphs.html</a></footer>
		
	</body>
</html>